@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.header{
    background-image: url(images/header.png);
    width: 100%;
    height:800px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.menu__items li a{
    font-size: 30px;
}


.item--search{
    width: 200px;
}

.item--search i{
    color: white;
}

