@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.logo{
    width: 30%;
}

.header{
    background-image: url(images/header.png);
    width: 100%;
    height:800px;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: fill;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.menu__items li a{
    font-size: 30px;
}


.item--search i{
    color: white;
    font-size: 30px;
}

.header__content{
    width: 635px;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%,-50%)
}



.header__content h1{
    color: #ffcc00;
    font-size: 100px;
    font-weight: bold;
}

.header__content p{
    color:white;
    line-height:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header__content .btn{
    background-color: #ffcc00;
}

