@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.header{
    background-image: url(images/header.png);
    width: 100%;
    height:800px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.menu{
    display: flex;
}

